# Dependencies
node_modules/
__pycache__/
*.py[cod]
*.class

# Next.js build outputs & caches
.next/
out/
build/
.pytest_cache/
.venv/
venv/

# Environment & Secrets
.env
.env.local
.env.development.local
.env.production.local

# Databases & Storage
*.db
*.sqlite3
local_storage/
*.log

# Zip archives & temporary OS files
*.zip
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
